<section class="bottompanel">
    <h1>Add a new video</h1>
    <form ng-submit="save()">
        <label for="video">Video :</label>
        <input type="text" name="video" id="video" ng-model="newvideo.ref" />
        <label for="tags">Tags :</label>
        <input type="text" name="tags" id="tags" ng-model="newvideo.tags" />
        <input type="submit" class="btn btn-sm btn-primary">
        <div data-ng-show="error">
            <strong data-ng-bind="error"></strong>
        </div>
    </form>
</section>
