<span ng-message="required">required field</span>
<span ng-message="minlength">value too short</span>
<span ng-message="maxlength">value too long</span>
<span ng-message="noSpecialCharsValidator">invalid characters found</span>
<span ng-message="tagsLengthValidator">all tags must have minimal length of 2</span>
<span ng-message="youtubeVideoId">invalid Youtube url or id</span>
<span ng-message="leftoverText">invalid content</span>
<span ng-message="minTags">one tag is required</span>
<span ng-message="maxTags">a maximum of 10 tags is allowed</span>
