<div class="videos">
   <h1>{{mainTitle}}
      <span ng-repeat="mainTag in mainTags" class="main-tag">{{mainTag}}
         <span ng-controller="NavigationController" class="glyphicon glyphicon-remove" ng-click="toggleTag(mainTag)"></span>
      </span>
   </h1>
   <form name="forms.editVideoForm" novalidate>
      <ul class="nav video-list">
         <li ng-repeat="video in videos" class="thumbnail">
            <!--<iframe width="280" height="156" ng-src="{{video.trustedVideo}}" frameborder="0" allowfullscreen></iframe>-->
            <img fancybox ng-click="openFancybox('static/templates/viewer.html')" ng-src="{{video.trustedImg}}" />
            <div class="actions">
              <button class="btn btn-info btn-xs" ng-click="deleteVideo(video)">
                <span class="glyphicon glyphicon-trash"></span> Delete
              </button>
              <button class="btn btn-info btn-xs" ng-click="editVideo(video)" ng-show="editedVideo._id!==video._id">
                <span class="glyphicon glyphicon-pencil"></span> Edit tags
              </button>
              <button class="btn btn-warning btn-xs" ng-click="cancelEdit()" ng-show="editedVideo._id===video._id">
                <span class="glyphicon glyphicon-remove"></span> Cancel edit
              </button>
              <button class="btn btn-success btn-xs" ng-click="updateVideo()" ng-show="editedVideo._id===video._id">
                <span class="glyphicon glyphicon-ok"></span> OK
              </button>
            </div>
            <div>
               <div class="tagslist" ng-show="editedVideo._id!==video._id">
                  <ul class="nav nav-pills">
                     <li ng-repeat="tag in video.tags">{{tag}}</li>
                  </ul>
               </div>
               <div class="input-group" ng-show="editedVideo._id===video._id">
                  <tags-input ng-model="editedVideo.tempTags" min-length="2" max-length="25" min-tags="1"
                    max-tags="10" add-on-space="true" replace-spaces-with-dashes="false" class="ti-input-sm">
                     <auto-complete source="autocompleteTags($query)" min-length="2"></auto-complete>
                  </tags-input>
               </div>
            </div>
         </li>
      </ul>
   </form>
</div>
