<div class="videos">
   <h1>{{mainTitle}}</h1>
   <form name="forms.editVideoForm" novalidate>
      <ul class="nav video-list">
         <li ng-repeat="video in videos" class="thumbnail">
            <iframe width="280" height="156" ng-src="{{video.trustedRef}}" frameborder="0" allowfullscreen></iframe>
            <div class="actions">
              <button class="btn btn-info btn-xs" ng-click="deleteVideo(video)">
                <span class="glyphicon glyphicon-trash"></span> Delete
              </button>
              <button class="btn btn-info btn-xs" ng-click="editVideo(video)" ng-show="editedVideo._id!==video._id">
                <span class="glyphicon glyphicon-pencil"></span> Edit tags
              </button>
              <button class="btn btn-warning btn-xs" ng-click="cancelEdit()" ng-show="editedVideo._id===video._id">
                <span class="glyphicon glyphicon-remove"></span> Cancel edit
              </button>
              <button class="btn btn-success btn-xs" ng-click="updateVideo()" ng-show="editedVideo._id===video._id">
                <span class="glyphicon glyphicon-ok"></span> OK
              </button>
            </div>
            <div>
               <div class="tagslist" ng-show="editedVideo._id!==video._id">
                  <ul class="nav nav-pills">
                     <li ng-repeat="tag in video.tags">{{tag}}</li>
                  </ul>
               <!--<span class="input-group" ng-show="editedVideo._id!==video._id">
                     <input type="text" class="form-control input-sm" name="tags" ng-model="video.tags" size="30" tags-valid disabled />
               </span>-->
               </div>
               <div class="input-group" ng-show="editedVideo._id===video._id" ng-class="{'has-error': forms.editVideoForm.$submitted && forms.editVideoForm['tempTags' + video._id].$invalid}">
                  <!--<input type="text" class="form-control input-sm" name="tempTags{{video._id}}" ng-model="editedVideo.tempTags" size="30" ng-maxlength="100" ng-minlength="2" required tags-valid />-->

                  <tags-input ng-model="editedVideo.tempTags" min-length="2" max-length="25" min-tags="1" max-tags="10" add-on-space="true" replace-spaces-with-dashes="false" class="ti-input-sm" ng-class="{'custom-tags': !forms.editVideoForm.$submitted && !hasFocus}">
                     <auto-complete source="loadTags()" ></auto-complete>
                  </tags-input>
               </div>
            </div>
         </li>
      </ul>
   </form>
</div>
