body {
  background-color: #ebf3fc;
}
h1,
h2,
h3 {
  margin: 5px;
}
/********************************
************* NAVIGATION **********
**********************************/
nav {
  float: left;
  width: 170px;
  padding-right: 5px;
  font-size: 12px;
}
nav .badge {
  font-size: 10px;
}
nav li.disabled a {
  font-style: italic;
}
nav li a {
  padding: 5px 10px !important;
}
nav li .glyphicon {
  display: none;
}
nav li.active .glyphicon {
  display: inherit;
}
/********************************
************* VIDEOS **********
**********************************/
.videos {
  border-left: 1px solid #ccc;
  float: left;
  max-width: 950px;
  padding-left: 10px;
}
.video-list > li {
  display: block;
  float: left;
  margin: 5px;
  height: 230px;
}
.tagslist {
  padding: 3px;
  margin-top: 5px;
  border: 1px solid #ccc;
}
.tagslist li {
  font-size: 12px;
  padding: 1px 7px 1px 7px;
  margin: 1px;
  background-color: #428BCA;
  border-radius: 3px;
  border: 1px solid #357ebd;
  color: #fff;
}
.input-group {
  margin-top: 5px;
  width: 100%;
}
